.Loader {
  height: 100vh;
  background: url("./Loader.png") center/cover no-repeat;
  .logo {
    height: 180px;
    @media (max-width: 767px) {
      height: 130px;
      @media (max-width: 575px) {
        height: 90px;
      }
    }
  }
  .content_loading_animate{
      span{
        opacity: 0;
        animation: .5s linear animateLoading infinite;
        &:nth-child(1){
          animation-delay: .1s;
        }
        &:nth-child(1){
          animation-delay: .2s;
        }
        &:nth-child(1){
          animation-delay: .3s;
        }
        &:nth-child(1){
          animation-delay: .4s;
        }
        @keyframes animateLoading {
          0%{
            opacity: 0;
          }
          100%{
            opacity: 1;
          }
          
        }
      }
  }
}
