section.Section_8{
    .btn_control_tab{
        .btn_custom_group{
            $radius: 35px;
            border-radius: $radius;
            overflow: hidden;
            .btn{
                border-radius: $radius;
            }
        }
    }
}