section.Section_9 {
  .content_wrapper {
    z-index: 1;
    position: relative;
    .custom_table{
        tbody{
            td{
                padding-top: 20px;
            }
        }
    }
  }
}
