section.Section_13 {
  .custom_table {
    &.custom_table_style {
      border-collapse: separate;
      border-spacing: 20px;
      tr {
        td {
          background: #393e4f;
          &:first-of-type {
            border-radius: 25px 0 0 25px;
          }
          &:last-of-type {
            border-radius: 0 25px 25px 0;
          }
        }
      }
    }
  }
}
