section.Section_7 {
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 33%;
    position: absolute;
    top: -7%;
    right: 0;
    background: #080e23 url("./wavy_line_bg.png") center/cover no-repeat;
    background-blend-mode: screen;
  }
  .content_wrapper {
    z-index: 1;
    position: relative;
    .custom_table {
      &.custom_table_style {
        border-collapse: separate;
        border-spacing: 20px;
        tr {
          td {
            background: #393e4f;
            &:first-of-type {
              border-radius: 25px 0 0 25px;
            }
            &:last-of-type {
              border-radius: 0 25px 25px 0;
            }
          }
        }
      }
    }
  }
}
