section.Section_5 {
    background: #080E23 url('./section_5_bg.png') center/cover no-repeat;
    background-blend-mode: soft-light;
    &>.content_wrapper{
        background: rgba(59, 63, 74, 0.447);
        border-radius: 25px;
        box-shadow: 0 0 38px #33cccc;
    }
  .select_form_img {
    .img_wrap {
      height: 300px;
      position: relative;
      z-index: 2;
      @media (max-width: 991px){
          height: 245px;
          @media (max-width: 575px){
              height: 200px;
          }
      }
      &.img_wrap_big {
        height: 400px;
        z-index: 3;
        @media (max-width: 991px){
            height: 280px;
            @media (max-width: 575px){
                height: 200px;
            }
        }
      }
      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
      }
    }
  }
}
