section.Section_10 {
  .content_wrapper_body {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
      height: 350px;
      background: #080E23 url("./gudgudi_blue.png") center/auto 60%
        no-repeat;
      border-radius: 50%;
      @media (max-width: 991px) {
        width: 300px;
        height: 300px;
        @media (max-width: 767px) {
          width: 200px;
          height: 200px;
          @media (max-width: 575px){
            width: 100px;
            height: 100px;
          }
        }
      }
    }

    [class*="col"] {
      margin-bottom: 45px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
        @media (max-width: 575px) {
          margin-bottom: 15px;
        }
      }
      .col_wrapper {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 575px) {
          height: 150px;
        }
      }
    }
  }
}
